*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
#cover{
    height:200px;
    position:relative;
    bottom:120px;
}
body{
    display: grid;
    place-items: center;
    height:100vh;
    background: url("images/b.jpeg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#btns{
   display: flex;
   flex-wrap: wrap;
   flex-direction: row; 
   gap:40px;
   height:fit-content;
   position:relative;
   bottom:60px;
   background-color:transparent;
}
.keys{
    padding:7px;
    background-color: transparent;
    border:outset;
    border-radius:25%;
    border-color:rgba(124, 11, 11, 0.812);
    color:bisque;
    margin-left: 10px;
}
.keys:nth-child(2){
    border-right: 30px;
}
#play{
    height:50px;
}
#wrapper{
    background-color: #eddada37;
    height:calc(20% + 150px);
    display: flex;
    justify-content:flex-end;
    flex-direction: column;
    border-radius:10%;
    box-shadow: 10px 10px 10px rgba(255, 255, 255, 0.64);
}
#title{
    position: relative;
    bottom:135px;
    left:10px;
    color:bisque;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:17px;
}
